// VARIABLES


$font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-secundary: Verdana, Geneva, Tahoma, sans-serif;
$bg-color: black;
$bg-color2: #BF93AE;
$color-fontprimary: #480006;
$color-fontsecundary: #ffffff;
$border-bottom: 3px solid rgba(0, 0, 0, 0.5);
$border: 2px solid black;
$box-shadow: 2px 1px 10px;
$box-sizing: border-box;
$font-weight: bold;
$limit: 10;
$unit: 8px;


// FIN VARIABLES